# Basic Collection

## Lists

In [10]:
friend_details = ["John", 27, "Web Developer"]

In [11]:
print(friend_details)

['John', 27, 'Web Developer']

In [12]:
names = ["John", "Alice", "Sarah", "George"]

### Subscription expression - accessing values in many collections

In [13]:
print(names[2])

Sarah

In [14]:
print(names[-2])

Sarah

### Adding items to a list

In [15]:
names.append("Simon")

In [16]:
print(names[-1])

Simon

In [17]:
new_name = names + ["Goliat"] # [] + [] Does not modify the original list

In [18]:
new_name

['John', 'Alice', 'Sarah', 'George', 'Simon', 'Goliat']

In [ ]:
names

In [20]:
names.extend(["Pedro", "Pepe", "Maria"])

In [21]:
names

['John', 'Alice', 'Sarah', 'George', 'Simon', 'Pedro', 'Pepe', 'Maria']

In [22]:
numbers = [1, 2, 4, 5]

In [23]:
numbers.insert(2, 3)

In [24]:
numbers

[1, 2, 3, 4, 5]

In [25]:
numbers.insert(-2, 3)

In [26]:
print(numbers)

[1, 2, 3, 3, 4, 5]

## Tuples (Values separated with comas, and we can use parentheses too)

In [3]:

names = "J", "S", "A"

In [4]:
names = ("j", "s", "a")

In [ ]:
names

### Tuples in a list

In [ ]:
movies = [
    ("Eternal Sunshine of the Spotles Mind", 2004),
    ("Memento", 2000),
    ("Requiem for a Dream", 2000)
]

In [ ]:
movies

In [ ]:
movies.pop(-1)

In [ ]:
movies[0] + (1,)

### Tuples with a single item (always add the coma at the end)

In [ ]:
name = "John",

In [ ]:
name = ("John",)

### Accessing values in a tuple

Much like with lists, tuples are ordered collections, where each item can be accessed by index based on their position in the collection.

We even use the same subscription expression syntax to access items in a tuple.

### Tuples are inmutable, and the list methods won't work, only + operator to join two tuples

In [116]:
movies = [
    (
        "Eternal Sunshine of the Spotless Mind",
        "Michel Gondry",
        2004
    ),
    (
        "Memento",
        "Christopher Nolan",
        2000
    ),
    (
        "Requiem for a Dream",
        "Darren Aronofsky",
        2000
    )
]

In [117]:
movies

[('Eternal Sunshine of the Spotless Mind', 'Michel Gondry', 2004),
 ('Memento', 'Christopher Nolan', 2000),
 ('Requiem for a Dream', 'Darren Aronofsky', 2000)]

### Accessing values in nested collections

In [118]:
movies[0]

('Eternal Sunshine of the Spotless Mind', 'Michel Gondry', 2004)

In [119]:
movies[0][0]

'Eternal Sunshine of the Spotless Mind'

In [120]:
movie = movies[0]

In [121]:
movie

('Eternal Sunshine of the Spotless Mind', 'Michel Gondry', 2004)

In [122]:
movie[0]

'Eternal Sunshine of the Spotless Mind'

## Exercises

In [123]:
movies = [
    (
        "Chochita peluda", 
        "Maximiliano Garcia",
        2020
    )
]

In [124]:
movies

[('Chochita peluda', 'Maximiliano Garcia', 2020)]

In [128]:
new_movie = input("Add a new movie: title, name, release date, budget: ")

Add a new movie: title, name, release date, budget:  1, 2, 3

In [130]:
new_movie

'1, 2, 3'

In [111]:
movie_2 = ("lua", "quevo", 1987)

print(movie_2)

In [109]:
movie_3 = ("t", "r", 2010)

In [110]:
movie_3

('t', 'r', 2010)

In [112]:
movies_2_3 = movie_2 + movie_3

In [113]:
movies_2_3

('lua', 'quevo', 1987, 't', 'r', 2010)

In [ ]:
test = movies + movies_2_3

In [ ]:
test

[]

4

AttributeError: 'int' object has no attribute 'clear'