In [1]:
# Converting tuples and lists to strings

In [2]:
numbers = [1, 2, 3, 4, 5]

In [4]:
numbers = str(numbers) # We get: '[1, 2, 3, 4, 5]', but we want to get instead is '1, 2, 3, 4, 5'

In [10]:
# join method: useful to get the items in the list without the square brackets

In [14]:
project_authors = ["Mike", "Sofia", "Helen"]

In [15]:
#project_authors = ", ".join(project_authors)

In [18]:
print(f"The people who worked on this project are: {', '.join(project_authors)}.") # OJO use different quotes in the join string than the outter string

The people who worked on this project are: Mike, Sofia, Helen.

In [19]:
# We can only join collections of strings. If we have a list of numbers, we have to convert each number to a string first.

In [29]:
numbers = [1, 2, 3, 4, 5]

In [30]:
stringifield_numbers = []

In [31]:
for number in numbers:
    stringifield_numbers.append(str(number))

In [33]:
print(", ".join(stringifield_numbers))

1, 2, 3, 4, 5

In [ ]:
# Splitting up a string - Convert a string into another collection of several items

In [37]:
user_numbers = input("Please enter 5 numbers separated by comma: ")

Please enter 5 numbers separated by comma:  1,2,3,4,5

In [38]:
number_list = user_numbers.split(",")

In [39]:
print(number_list)

['1', '2', '3', '4', '5']

In [124]:
user_numbers = input("Please enter 5 numbers separated by dashes: ")

Please enter 5 numbers separated by dashes:  1-2-3-4-5

In [125]:
numbers_tuple = tuple(user_numbers.split("-"))

In [126]:
print(numbers_tuple)

('1', '2', '3', '4', '5')

In [127]:
# Split won't strip out any whitespace. Ex: 1, 2, 3, 4, 5

In [66]:
user_numbers = input("Please enter 5 numbers separated by commas: ")

Please enter 5 numbers separated by commas:  1,2,3,4,5

In [67]:
numbers_list = user_numbers.split(",")

In [68]:
print(len(numbers_list))

5

In [69]:
# Not always a problem (white space) --> To fix it: iterate over the collection and clear things up using strip

In [100]:
user_numbers = input("Please enter 5 numbers separated by commas: ")

Please enter 5 numbers separated by commas:  1, 2, 3, 4, 5

In [101]:
user_numbers = user_numbers.split(",")
print(user_numbers)

['1', ' 2', ' 3', ' 4', ' 5']

In [102]:
numbers_list = []

In [105]:
for number in user_numbers:
    numbers_list.append(number.strip())

In [106]:
print(numbers_list)

['1', '2', '3', '4', '5']

In [111]:
# If we don't specify a separator sequence for split. It is going to split based on any lenght of whitespace Ex: user enters: 1 2 3 4 5

In [131]:
user_numbers = input("Please enter 5 numbers separated by whitespaces: ") # 1 2 3 4 5

Please enter 5 numbers separated by whitespaces:  1 2 3 4 5

In [132]:
user_numbers = user_numbers.split() # ['1', '2', '3', '4', '5']

In [133]:
user_numbers

['1', '2', '3', '4', '5']

In [134]:
# Put every character as a different item in a list or tuple -> pass the string to the list or tuple, no need of split

In [135]:
sample_string = "Python"

In [136]:
list(sample_string)

['P', 'y', 't', 'h', 'o', 'n']

In [137]:
tuple(sample_string)

('P', 'y', 't', 'h', 'o', 'n')

In [138]:
# The newline character -> \n

In [141]:
print("Super Special Mega Awesome Program\n\nBy Phillip Best")

Super Special Mega Awesome Program

By Phillip Best

In [142]:
# Slicing -> Grab some parts of a collection - it specify a range of indeces - return new collection, don't touch the original collection

In [143]:
original_string = "Python"

In [145]:
sliced_string = original_string[0:3] # From index 0 not including index 3

In [146]:
sliced_string

'Pyt'

In [147]:
# [:3] -> if start value isn't specify for the start index, the slice starts at the beginning of the sequence

In [148]:
sliced_string = original_string[:3]

In [149]:
sliced_string

'Pyt'

In [150]:
# [3:] -> give me everything from index 3 onward

In [152]:
sliced_string = original_string[3:]

In [153]:
sliced_string

'hon'

In [154]:
# Negative indices -> OJO: [3:-1] we want everything from index 3 up to, but not including, the final element

In [155]:
print(original_string[3:])

hon

In [158]:
print(original_string[3:-1])

ho

In [159]:
# [:] -> Copy the entire collection

In [160]:
print(original_string[:])

Python

In [161]:
# The len function

In [166]:
numbers = [1, 2, 3, 4, 5]

In [167]:
numbers

[1, 2, 3, 4, 5]

In [168]:
len(numbers)

5

## Exercises

In [170]:
# Exercise 1

In [171]:
user_name = input("Please provide your name and last name!") # user_name.split()

Please provide your name and last name! Maria Perez

In [179]:
first_name = user_name[0:5]

In [180]:
first_name

['Maria', 'Perez']

In [177]:
last_name = user_name[6:]

In [178]:
last_name

'Perez'

In [195]:
split_name = user_name.split()

In [196]:
split_name

['Maria', 'Perez']

In [199]:
first_name = split_name[0]

In [200]:
first_name

'Maria'

In [201]:
last_name = split_name[1]

In [202]:
last_name

'Perez'

In [206]:
type(last_name) == str

True

In [245]:
# Exercise 2

In [246]:
numbers_list = [1, 2, 3, 4, 5]

In [247]:
numbers_list

[1, 2, 3, 4, 5]

In [248]:
num_to_str = []

In [249]:
for number in numbers_list:
    num_to_str.append(str(number))

In [250]:
num_to_str

['1', '2', '3', '4', '5']

In [251]:
num_pipes = "|".join(num_to_str)

In [252]:
num_pipes

'1|2|3|4|5'

In [253]:
# Exercise 4

In [329]:
 quotes = [
 	"'What a waste my life would be without all the beautiful mistakes I've made.'",
 	"'A bend in the road is not the end of the road... Unless you fail to make the turn.'",
 	"'The very essence of romance is uncertainty.'",
 	"'We are not here to do what has already been done.'"
 ]

In [330]:
for quote in quotes: 
    #no_single_quotes = quote[1:-1]
    #print(no_single_quotes)
    print(quote.strip(" ' "))

What a waste my life would be without all the beautiful mistakes I've made.
A bend in the road is not the end of the road... Unless you fail to make the turn.
The very essence of romance is uncertainty.
We are not here to do what has already been done.

In [318]:
# Exercise 4

In [331]:
user_words = input("Enter any word!").strip()

Enter any word! eva maria

In [333]:
len(user_words)

9