In [19]:
movies = [
    (
        "Eternal Sunshine of the Spotless Mind",
        "Michel Gondry",
        2004
    ),
    (
        "Memento",
        "Christopher Nolan",
        2000
    ),
    (
        "Requiem for a Dream",
        "Darren Aronosfky",
        2000
    )
]

In [20]:
movies

[('Eternal Sunshine of the Spotless Mind', 'Michel Gondry', 2004),
 ('Memento', 'Christopher Nolan', 2000),
 ('Requiem for a Dream', 'Darren Aronosfky', 2000)]

In [21]:
for movie in movies:
    print(f"{movie[0]} ({movie[2]}), by {movie[1]}.")

Eternal Sunshine of the Spotless Mind (2004), by Michel Gondry.
Memento (2000), by Christopher Nolan.
Requiem for a Dream (2000), by Darren Aronosfky.

In [22]:
# Break

In [25]:
for movie in movies:
    if movie[0] == "Memento":
        print("Memento is in the movie library!")
        break

('Memento', 'Christopher Nolan', 2000)
Memento is in the movie library!

In [26]:
# The Range Function: capable of producing a series of integers according to some set of pattern.

In [27]:
# EX: Get a series of numbers starting from 1 and ending at 10, moving in steps of 3

In [33]:
list(range(1,10, 3))

[1, 4, 7]

In [34]:
print(range(10)) # 0, 1, 2, 3, 4, 5, 6, 7, 8, 9. Start from 0 and not inlcude the stop value

range(0, 10)

In [ ]:
# Range start from 3, not include 10

In [37]:
print(list(range(3,10)))

[3, 4, 5, 6, 7, 8, 9]

In [38]:
# Variables in range(start value, stop value, step value) Ex: range(0,10, 2)

In [39]:
print(list(range(0, 10, 2)))

[0, 2, 4, 6, 8]

In [40]:
# Get every other number, specify step 2, every third number specify step 3.

In [41]:
print(list(range(0,10,3)))

[0, 3, 6, 9]

In [42]:
# Negative step values: it means go backwards from the start value to the stop value

In [44]:
list(range(10, -1, -1)) # Include the initial value, but it does not include the stop value

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [45]:
# Careful when we can't get from one value to another, range won't complain, just will give an empty sequence

In [47]:
print(list(range(0, 10, -1)))

[]

In [48]:
# Range doesn't actually contain all the values in the sequence. Just figures out what the next number should be when we ask for it

In [49]:
print(range(1000)) # Don't print the sequence, just the definition of the range generated --> range(0, 1000)

range(0, 1000)

In [50]:
# Range is iterable, we can use it in for loops, and convert it to a list or tuple

In [51]:
numbers = list(range(10))

In [52]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [53]:
immutable_numbers = tuple(range(10))

In [54]:
immutable_numbers

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [55]:
# Using range in for loops

In [56]:
for number in range(10):
    print(number)

0
1
2
3
4
5
6
7
8
9

In [57]:
for number in range(10):
    print("Hello!")

Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!

In [58]:
# By convetion whhen the loop variable is not actually being used in the loop body, we name it with an underscore "_"

In [61]:
# Ensure a certain number of iterations. We never refer to the numbers that range is generating.
for _ in range(10):
    print("Hola!")

Hola!
Hola!
Hola!
Hola!
Hola!
Hola!
Hola!
Hola!
Hola!
Hola!

## Exercises

In [62]:
# Print how much each employee is due to be paid at the end of the week.

In [22]:
employees = [
    ("Rolph Smith", 35, 8.75),
    ("Anne Pun", 30, 12.50),
    ("Charlie Lee", 50, 15,50),
    ("Bob Smith", 20, 7.00)
]

In [45]:
for employee in employees:
    total_pay = employee[1] * employee[2]
    print(f"{employee[0]} will be paid ${total_pay: .2f} this week.")

Rolph Smith will be paid $ 306.25 this week.
Anne Pun will be paid $ 375.00 this week.
Charlie Lee will be paid $ 750.00 this week.
Bob Smith will be paid $ 140.00 this week.

In [29]:
# print out those who are earning an hourly wage above average

In [35]:
sum_hourly_wage = 0

In [36]:
for employee in employees:
    sum_hourly_wage += employee[2]

In [37]:
average_hourly_wage = sum_hourly_wage / len(employees) # 10.8125

In [38]:
sum_hourly_wage

43.25

In [39]:
average_hourly_wage

10.8125

In [41]:
for employee in employees:
    if employee[2] > average_hourly_wage:
        print(f"{employee[0]} has an hourly wage ({employee[2]}) above average ({average_hourly_wage}).")

Anne Pun has an hourly wage (12.5) above average (10.8125).
Charlie Lee has an hourly wage (15) above average (10.8125).

## and & or

In [46]:
# and returns the first value if it evaluates to false, otherwise it returns the second value

In [47]:
False and True # Return first value because it is False

False

In [48]:
True and False # Because first value is true, it returns second value False

False

In [49]:
True and True # Because first value is true, it returns second value True

True

In [50]:
None and '35' # Returns none because python evaluates it as False, and that's why python doesn't return an error like other programming languages.

In [51]:
x = []

In [52]:
x and 12 # empty array evaluates as False, so it returns the first value empty array

[]

In [53]:
10 and 20 # returns the second value, because the first value is true

20

In [54]:
# or returns the first value if it evaluates to true, otherwise it returns the second value

In [55]:
True or False # it returns the first value because it is True

True

In [57]:
False or True # it returns the second value because the first value is false

True

In [58]:
False or False # it returns the second value because the first value is false

False

In [59]:
None or "35" # returns the second value because the first value is evaluated as false

'35'

In [60]:
x = []

In [61]:
x or 12 # returns the second value because the first value is evaluated as false

12

In [62]:
10 or 20 # returns the first value because it is true

10