In [ ]:
# Defining sets

In [ ]:
vegetables = {"carrot", "lettuce", "broccoli", "onion", "carrot"}

In [ ]:
vegetables # {'broccoli', 'carrot', 'lettuce', 'onion'} It doesn't print the last carrot because it was defined at the begining and the keys are unique

In [ ]:
# Creating an empty set

emp_set = set()

In [ ]:
emp_set # if we print an empty set, it will print set() to distinguish the output from an empty dictionary which is {}

In [ ]:
# There can't be nested sets - it is illegal in Python, will get a TypeError

nested_sets = {{1, 2 , 3}, {"a", "b", "c"}} # TypeError: unhashable type: 'set'

In [ ]:
# Modifying sets

In [ ]:
# Adding items to a set
vegetables = {"carrot", "lettuce", "broccoli", "onion"}
vegetables.add("potato")

In [ ]:
vegetables # Cambia el order de elems {'broccoli', 'carrot', 'lettuce', 'onion', 'potato'}

In [ ]:
vegetables.add("onion") # No cambia el set porque onion ya estaba definido

In [ ]:
vegetables

In [ ]:
# Add several items at once -> use update method
vegetables.update(["blue", "greens", "somoza"])

In [ ]:
vegetables

In [ ]:
# Deleting items in a set

In [ ]:
vegetables.remove("s")

In [ ]:
vegetables

In [ ]:
vegetables.remove("s") # No existe el item -> KeyError: 's'

In [ ]:
vegetables.discard("somoza")

In [ ]:
vegetables

In [ ]:
vegetables.discard("somoza") # El código no muestra error y no hace nada

In [ ]:
random_vegetables = vegetables.pop()

In [ ]:
random_vegetables

In [ ]:
random_vegetables = vegetables.pop()

In [ ]:
random_vegetables

In [ ]:
vegetables.clear() # Vacía el set -> set()

In [ ]:
vegetables

In [ ]:
# Set operations to compare collections: union, intersection, difference, and symmetric difference

In [ ]:
# Union: combination of two sets, creates a new sets and duplicated items will be included once

letters = {"a", "b", "c"}
numbers = {1, 2, 2, 3}

letters_and_numbers = letters.union(numbers) # Same result numbers.union(letters)

In [ ]:
letters_and_numbers

In [ ]:
# Intersection: get a new set containing the elems common to both sets

mod_2 = {2, 4, 6, 8, 10, 12, 14, 16, 18}
mod_3 = {3, 6, 9, 12, 15, 18}

mod_6 = mod_2.intersection(mod_3)

print(mod_6) # {18, 12, 6}

In [ ]:
# Difference: order of sets matter

bundle_1 = {"Resident Evil 3", "Final Fantasy VII", "Cyberpunk 2077"}
bundle_2 = {"Doom Eternal", "Halo Infinite", "Resident Evil 3"}

print(bundle_1.difference(bundle_2)) # Final Fantasy VII, Cyberpunk 2077
print(bundle_2.difference(bundle_1)) # Doom Eternal, Halo Infinite
# It doesn't included Resident Evil 3 because it is the common elem between the two sets

In [ ]:
# Symmetric difference: print the items that are not common in the two sets, it doesn't matter the order

print(bundle_1.symmetric_difference(bundle_2)) # {'Doom Eternal', 'Cyberpunk 2077', 'Halo Infinite', 'Final Fantasy VII'}
print(bundle_2.symmetric_difference(bundle_1)) # {'Doom Eternal', 'Cyberpunk 2077', 'Halo Infinite', 'Final Fantasy VII'}

In [ ]:
# Set operation with other collections

In [ ]:
# we can pass any collection we like into the set methods, as long as we call the method on the set and not on the collection

letters = {"a", "b", "c"}
numbers = [1, 2, 3]

print(letters.union(numbers))

In [ ]:
# Checking if items are in collections -> keyword in

In [ ]:
# in can be use with Sets

numbers = {1, 2, 3, 4, 5}

print(3 in numbers) # True
print(7 in numbers) # False

In [ ]:
# in can be use with any collection

In [ ]:
# Strings

print("j" in "Python") # False
print ("n" in "Python") # True

In [1]:
# Keys of a dictionary

student = {
    "name": "Eric Cartman",
    "age": 10,
    "school": "South Park Elementary"
}

print("grades" in student) # False
print("school" in student) # True

False
True

In [2]:
# Values of a dictionary

print(10 in student.values())

True

## Exercises

In [ ]:
# Exercise 1: Create an empty set and assign it to a variable

In [ ]:
set_1 = set()
print(set_1)

In [ ]:
# Exercise 2: Add three items to your empty set using either several add calls, or a single call to update

set_1.update([1, 2, 3])
print(set_1)

In [ ]:
# Exercise 3: Create a second set which includes at least one common element with the first set
set_2 = set([2, 3, 4])

print(set_2)

In [ ]:
# Exercise 4: Find Union, symmetric difference, and intersection of the two sets. Print the result of each operation

In [ ]:
print(set_1.union(set_2)) # Combine the items in one new set - the duplicates are added just one time
print(set_1.symmetric_difference(set_2)) # print the items that are NOT common
print(set_1.intersection(set_2)) #  print the items that are common in two sets

In [ ]:
# Exercise 5:
# Create a sequence of numbers using range
# Ask the user to enter a number
# Inform the user whether or not their number was within the range you specified
# Extra challenge: tell the user if the number was too high or too low

In [29]:
numbers = set(range(10, 51))
print(numbers)

{10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50}

In [51]:
user_num = int(input("Add a number: "))

Add a number:  32

In [52]:
user_num = set([user_num])
print(user_num)

{32}

In [53]:
matching_nums = numbers.intersection(user_num)
print(matching_nums)
numbers_to_list = list(numbers)
print(numbers_to_list[0])
user_num_to_list = list(user_num)
print(user_num_to_list[0])

{32}
10
32

In [55]:
if (matching_nums):
    print(f"{user_num_to_list[0]} is in range!")
else:
    # print(f"{user_num} is out of range!")
    if user_num_to_list[0] < numbers_to_list[0]:
        print("Number too low")
    else:
        print("Number too high")

32 is in range!

In [ ]:
# Blog's solutions

In [ ]:
# Exercises 1 and 2

In [2]:
s = set()
print(s)

set()

In [ ]:
s.add(1)
s.add(2)
s.add(3)
print(s)

In [ ]:
for num in range(1, 4):
    s.add(num)
print(s)

In [3]:
s.update(range(1,4))
print(s)

{1, 2, 3}

In [ ]:
# Exercise 3

In [4]:
ramdon_values = {"r", 1, ("Python", "C", "Rust")}
print(ramdon_values)

{'r', 1, ('Python', 'C', 'Rust')}

In [13]:
# Exercise 4
print(s.union(ramdon_values)) # print items included in both sets
print(s.symmetric_difference(ramdon_values)) # print items that are different between the sets
print(s.intersection(ramdon_values)) # print commons items

{1, 2, 3, 'r', ('Python', 'C', 'Rust')}
{2, 3, ('Python', 'C', 'Rust'), 'r'}
{1}

In [14]:
# Exercise 5

In [18]:
numbers = range(27, 54)
print(numbers)

range(27, 54)

In [25]:
user_number = int(input("Enter a number: "))

Enter a number:  45

In [21]:
# Verify if the number is in the range

if user_number in numbers:
    print("Your number is in the valid range.")
else:
    print("Your number is outside of the valid range.")

Your number is outside of the valid range.

In [26]:
# Verify is the user number was to low or hihg, using the as reference first number in the range (too low), last number in the range (too high)

if user_number in numbers:
    print("Your number is in the valid range.")
else:
    if user_number < numbers[0]:
        print("Your number is too low.")
    else:
        print("Your number is too high")

Your number is in the valid range.