# Basic Collection

## Lists

In [ ]:
friend_details = ["John", 27, "Web Developer"]

In [1]:
print(friend_details)

NameError: name 'friend_details' is not defined

In [ ]:
names = ["John", "Alice", "Sarah", "George"]

### Subscription expression - accessing values in many collections

In [ ]:
print(names[2])

In [ ]:
print(names[-2])

### Adding items to a list

In [ ]:
names.append("Simon")

In [ ]:
print(names[-1])

In [ ]:
new_name = names + ["Goliat"] # [] + [] Does not modify the original list

In [ ]:
new_name

In [ ]:
names

In [ ]:
names.extend(["Pedro", "Pepe", "Maria"])

In [ ]:
names

In [ ]:
numbers = [1, 2, 4, 5]

In [ ]:
numbers.insert(2, 3)

In [ ]:
numbers

In [ ]:
numbers.insert(-2, 3)

In [ ]:
print(numbers)

## Tuples (Values separated with comas, and we can use parentheses too)

In [ ]:

names = "J", "S", "A"

In [ ]:
names = ("j", "s", "a")

In [ ]:
names

### Tuples in a list

In [ ]:
movies = [
    ("Eternal Sunshine of the Spotles Mind", 2004),
    ("Memento", 2000),
    ("Requiem for a Dream", 2000)
]

In [ ]:
movies

In [ ]:
movies.pop(-1)

In [ ]:
movies[0] + (1,)

### Tuples with a single item (always add the coma at the end)

In [ ]:
name = "John",

In [ ]:
name = ("John",)

### Accessing values in a tuple

Much like with lists, tuples are ordered collections, where each item can be accessed by index based on their position in the collection.

We even use the same subscription expression syntax to access items in a tuple.

### Tuples are inmutable, and the list methods won't work, only + operator to join two tuples

In [ ]:
movies = [
    (
        "Eternal Sunshine of the Spotless Mind",
        "Michel Gondry",
        2004
    ),
    (
        "Memento",
        "Christopher Nolan",
        2000
    ),
    (
        "Requiem for a Dream",
        "Darren Aronofsky",
        2000
    )
]

In [ ]:
movies

### Accessing values in nested collections

In [ ]:
movies[0]

In [ ]:
movies[0][0]

In [ ]:
movie = movies[0]

In [ ]:
movie

In [ ]:
movie[0]

## Exercises

In [ ]:
movies = [
    (
        "Chochita peluda", 
        "Maximiliano Garcia",
        2020
    )
]

In [ ]:
movies

In [ ]:
new_movie = input("Add a new movie: title, name, release date, budget: ")