In [19]:
movies = [
    (
        "Eternal Sunshine of the Spotless Mind",
        "Michel Gondry",
        2004
    ),
    (
        "Memento",
        "Christopher Nolan",
        2000
    ),
    (
        "Requiem for a Dream",
        "Darren Aronosfky",
        2000
    )
]

In [20]:
movies

[('Eternal Sunshine of the Spotless Mind', 'Michel Gondry', 2004),
 ('Memento', 'Christopher Nolan', 2000),
 ('Requiem for a Dream', 'Darren Aronosfky', 2000)]

In [21]:
for movie in movies:
    print(f"{movie[0]} ({movie[2]}), by {movie[1]}.")

Eternal Sunshine of the Spotless Mind (2004), by Michel Gondry.
Memento (2000), by Christopher Nolan.
Requiem for a Dream (2000), by Darren Aronosfky.

In [22]:
# Break

In [25]:
for movie in movies:
    if movie[0] == "Memento":
        print("Memento is in the movie library!")
        break

('Memento', 'Christopher Nolan', 2000)
Memento is in the movie library!

In [26]:
# The Range Function: capable of producing a series of integers according to some set of pattern.

In [27]:
# EX: Get a series of numbers starting from 1 and ending at 10, moving in steps of 3

In [33]:
list(range(1,10, 3))

[1, 4, 7]

In [34]:
print(range(10)) # 0, 1, 2, 3, 4, 5, 6, 7, 8, 9. Start from 0 and not inlcude the stop value

range(0, 10)

In [ ]:
# Range start from 3, not include 10

In [37]:
print(list(range(3,10)))

[3, 4, 5, 6, 7, 8, 9]

In [38]:
# Variables in range(start value, stop value, step value) Ex: range(0,10, 2)

In [39]:
print(list(range(0, 10, 2)))

[0, 2, 4, 6, 8]

In [40]:
# Get every other number, specify step 2, every third number specify step 3.

In [41]:
print(list(range(0,10,3)))

[0, 3, 6, 9]

In [42]:
# Negative step values: it means go backwards from the start value to the stop value

In [44]:
list(range(10, -1, -1)) # Include the initial value, but it does not include the stop value

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [45]:
# Careful when we can't get from one value to another, range won't complain, just will give an empty sequence

In [47]:
print(list(range(0, 10, -1)))

[]

In [48]:
# Range doesn't actually contain all the values in the sequence. Just figures out what the next number should be when we ask for it

In [49]:
print(range(1000)) # Don't print the sequence, just the definition of the range generated --> range(0, 1000)

range(0, 1000)

In [50]:
# Range is iterable, we can use it in for loops, and convert it to a list or tuple

In [51]:
numbers = list(range(10))

In [52]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [53]:
immutable_numbers = tuple(range(10))

In [54]:
immutable_numbers

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [55]:
# Using range in for loops

In [56]:
for number in range(10):
    print(number)

0
1
2
3
4
5
6
7
8
9

In [57]:
for number in range(10):
    print("Hello!")

Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!

In [58]:
# By convetion whhen the loop variable is not actually being used in the loop body, we name it with an underscore "_"

In [61]:
# Ensure a certain number of iterations. We never refer to the numbers that range is generating.
for _ in range(10):
    print("Hola!")

Hola!
Hola!
Hola!
Hola!
Hola!
Hola!
Hola!
Hola!
Hola!
Hola!

## Exercises

In [62]:
# Print how much each employee is due to be paid at the end of the week.

In [ ]:
employees = [
    ("Rolph Smith", 35, 8.75),
    ("Anne Pun", 30, 12.50),
    ("Charlie Lee", 50, 15,50),
    ("Bob Smith", 20, 7.00)
]